# Auto detect text files and normalize line endings to LF
* text=auto

# Shell scripts
gradlew text eol=lf
gradlew.bat text eol=crlf

# Kotlin/Java files
*.kt text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.md text eol=lf
